name: Build and Release Artifacts

on:
  push:
    tags:
      - "v*"

jobs:
  build-macos-arm64:
    name: Build macOS (arm64)
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - run: bun install
      - run: bun build --compile --target=bun-darwin-arm64 --minify ./index.ts --outfile blum-arm64
      - name: Upload Artifact for macOS
        uses: actions/upload-artifact@v3
        with:
          name: blum-arm64
          path: ./blum-arm64

  build-linux-x64:
    name: Build Linux (x64)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - run: bun install
      - run: bun build --compile --target=bun-linux-x64 --minify ./index.ts --outfile blum-linux
      - name: Upload Artifact for Linux
        uses: actions/upload-artifact@v3
        with:
          name: blum-linux
          path: ./blum-linux

  build-windows-x64:
    name: Build Windows (x64)
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - run: bun install
      - run: bun build --compile --target=bun-windows-x64-modern --minify ./index.ts --outfile blum-windows
      - run: dir
      - name: Upload Artifact for Windows
        uses: actions/upload-artifact@v3
        with:
          name: blum-windows
          path: ./blum-windows

  release:
    name: Create Release
    runs-on: ubuntu-latest
    needs: [build-macos-arm64, build-linux-x64, build-windows-x64]
    steps:
      - name: Download macOS Artifact
        uses: actions/download-artifact@v3
        with:
          name: blum-arm64
          path: ./releases

      - name: Download Linux Artifact
        uses: actions/download-artifact@v3
        with:
          name: blum-linux
          path: ./releases

      - name: Download Windows Artifact
        uses: actions/download-artifact@v3
        with:
          name: blum-windows
          path: ./releases

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref }}
          name: Release ${{ github.ref }}
          assets: |
            ./releases/blum-arm64
            ./releases/blum-linux
            ./releases/blum-windows
